{{input type=text value=displayRangeStart}}{{input type=text value=displayRangeEnd}}<span class="icon-calendar" {{bind-attr id=icon}}></span>
{{#popup-menu flow="dropdown" will-change="month" month=month}}
  <a class="previous-month" {{action "previousMonth"}}></a>
  <a class="next-month" {{action "nextMonth"}}></a>
  {{calendar-month month=firstOfMonth minWeeks=minWeeks class="first-month"}}
  {{#if multimonth}}
    {{calendar-month month=nextMonth minWeeks=minWeeks class="last-month"}}
  {{/if}}
{{/popup-menu}}
